{% extends "layout.html"%}

{% block content %}

   <div id="wrapper">
      <img src="https://avatars2.githubusercontent.com/u/63278657?s=460&u=42aaa965dabe86523b68714bbc101e9094465fe0&v=4" alt="Nephxlin">
      <h1>"Nephxlin"</h1>
      <h2>-Luther Marques Cordeiro</h2>
      <h2>FullStack Developer, Designer & Music Producer</h2>
      <p>Software engineer specialist in creating Marketing applications for Musicians, models, photographers and Influencer's</p>
  </div>

  <div id="links-footer" class="links">
    <a href="https://github.com/Nephxlin" target="_blank">Github</a>
    <a href="https://twitter.com/Nephxlin" target="_blank">Twitter</a>
    <a href="https://www.linkedin.com/in/luther-marques-cordeiro-101a731a6/" target="_blank">LinkedIn</a>
    <a href="https://www.youtube.com/channel/UCLS3faRYqcVp_V9jcsxAt3w?" target="_blank">Youtube</a>
  </div>

{% endblock %}