{% extends "layout.html" %}

  {% block header %}
    <title>Skills</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  {% endblock %}

{% block content %}

  <div id="wrapper">
    <h1>Developer Technologies</h1>
  </div>

 
  <section class="cards"> 
    {%for item in devSkills %}

    <div class="card1" id="{{item.id}}">
      <div class="card__image-container1"> 
          <img src="{{item.img}}">
     
        {%if item.link_avalibe %}
          <div class="featured">Link</div>
        {% endif %}
        
      </div>
       
       
        <div class="card_content1">
          <p>{{item.title}}</p>
      </div>    
    </div>
 
    {% endfor %}
  </section>


  <div id="wrapper">
    <h1>Music Technologies</h1>
  </div>

  <section class="cards">

    {%for item in musicSkill %}
    
    <div class="card" src="{{item.url}}">
      <div class="card__image-container"> 
          <img src="{{item.img}}">
          {%if item.link_avalibe %}
            <div class="featured">Link</div>
          {% endif %}
      </div>
        <div class="card_content">
          <p>{{item.title}}</p>
      </div>    
    </div>
 
    {% endfor %}
    
  </section>

  <div id="wrapper">
    <h1>Designer/Artistic Technologies</h1>
  </div>

  <section class="cards">

    
    {%for item in desingSkills %}

    <div class="card2" src="{{item.url}}">
      <div class="card__image-container2"> 
          <img src="{{item.img}}">
          {%if item.link_avalibe %}
          <div class="featured">Link</div>
        {% endif %}
      </div>
        <div class="card_content2">
          <p>{{item.title}}</p>
      </div>    
    </div>
 
    {% endfor %}
    
  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
        <i class="material-icons">close</i>

      </a>

      <div class="modal-content">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div> 
  </div>
  
  <script src="scripts.js"></script>

{%endblock%}